<!DOCTYPE html>
<html lang="uk">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Вхід</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <h2>Вхід</h2>

  <% if (messages.error) { %>
    <p style="color: red;">
      <%= messages.error %>
    </p>
    <% } %>

      <form action="/login" method="POST">
        <label>Email:</label>
        <input type="email" name="email" required>
        <br>
        <label>Пароль:</label>
        <input type="password" name="password" required>
        <br>
        <button type="submit">Увійти</button>
      </form>
      <p>Ще не маєте акаунта? <a href="/register">Зареєструватися</a></p>
</body>

</html>